@import '~/nativescript-theme-core/css/blue.css';
.drawer-content {
  background-color:#3d5afe;
  color: #ffffff;
  padding-top: 20;
  width:300;
}
.drawer-content label {
  font-size: 20;
  margin: 10 0 15 25;
}
.selected {
  color: #e4ba4e;
}
